


  
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  body {
    direction: rtl;
    align-items: right;
    font-family: Arial;
    scroll-padding-bottom: 38px;
    margin: 0;
        
  }

   /* layout -----------------------------------*/

   .row-1 {
    display: flex;
    flex-wrap: wrap;
    /* border: solid crimson; */
    
    height: 103px;
    
  }
  
  
  .row-2 {
    display: flex;
    flex-wrap: wrap;
    border: solid crimson;
    
    height: 355px;
    margin-top: 18px;
    
  }

  .row-3 {
    display: flex;
    flex-wrap: wrap;
    height: 216px;
    height: 216px;  
    border: solid tomato;
  
  }

  .row-4 {

    display: flex;
    position: fixed;
    width: 100%;
    /* border: solid crimson; */
    bottom: 0;
    padding-bottom: 8px;
    height: 38px;
    background-color: grey;
    z-index: 9999;
        
  }
  

  
  .col-1 {
  
    position: absolute;
    width: 293px;    
    display: block;    
    border: solid;
    
  }

  .col-2 {
  
    position: absolute;
    width: 293px;
    margin-right: 300px;
    display: block;    
    border: solid;
    
  }

  .col-3 {
  
    position: absolute;
    width: 293px;
    margin-right: 600px;;
    display: block;    
    border: solid;
    
  }

 /* end------------------------------------------ */

  form {
    display: block;
    margin-top: -20px;
    /* border: solid red; */
  }

  #banner {
    min-height: 65px;
    width: 100%;
    padding: 0;
    margin: 0;
    border: none;
    background-color: grey;

  }

  .container {

    position: relative;
    width: 900px;
    margin: 0 auto;
    padding-bottom: 30px;
    /* border: solid green; */

  }

  .abs {
    position: absolute;
    width: 100%;
    /* border: solid yellow; */
  }

     
  #header {
    
    position: relative;
    display: block;
    width: 100%;
    height: 105px;
    z-index: 100;
     
  }




  /* end---------------------------------------- */
  
  #paz-logo {
    /* display: block; */
    width: 142px;
    height: 93px;
    position: absolute;
    bottom: 0px;
    right: -8px;
  }

  
  #search-icon {
    
    float:left;
    width: 19px;
    height: 19px;
    
  }
 
 
  #text-box {
    float:left;
    width: 132px;
    height: 19px;
    border-top-right-radius: 8px;
    border: none;
    
  }  

  #lang {

    float: left;
    font-size: 12px;
    font-weight: bold;
    color: white;
    padding-left: 15px;
    padding-top: 5px;
  }

  #nav-bar {
    position: absolute;
    bottom:0px;
    /* width: 100%; */
    /* height: 33px; */
    height: 53px;

    border: solid; 
    margin-right: 143px;;   
  }

  /* .row-1::after {
    content: "";
    clear: both;
    display: table;
  } */

  
  #lang::after {
    content: "";
    clear: both;
    display: table;
  }


  /* nav bar------------------------------------ */

  ul {
    text-decoration: none;
  }

  #nav-bar li {
    display: inline-block;
    font-size: 15px;

  }
  
 
  /* set image size */
  nav > ul li > img {
    width: 4px;
    height: 21px;
    margin-top: 0;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 0;
  }

  
  .dropdown {
   
    position: relative;
    list-style: none;
    padding-right 0;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    width: auto;
    margin-top: 0;
    padding-top: 20px;
    /* background-color: grey;  */
    padding-left:5px;
    padding-right: 5px; 
     
      
  }

  .dropdown-content  > a  {
   color: white;
   border-bottom: 0.02px solid white ;
   font-weight: bold;
   background-color: grey;
   display: block;
   width: 120px;
   padding: 5px;
   zoom: 1;
   text-decoration: none;
   
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }




 
/* main section ---------------------------------- */
 
  #main {
    padding-top: 90px;
  }

  

 .mid-pic {

  width: 100%;  
  display: block;
  border-bottom-right-radius: 15px;


  }

  .mid-text {
    position: absolute;
    bottom:5px;
    right: 5px;    
    
  }

    
img.mid-pic {
  width: 100%;
  display: block;
}

.frame {
  
  width: 100%
  position: relative;
  margin: auto;
}

.frame > div {
  position: absolute;
 
}

.text-frame {
  top:250px;
  right: 5px;
}

.text {
  top:255px;
  right:10px;
  color:white;
  font-size: 13px;
  margin-top: 4px;
  margin-left:40px;
}

.read-more {
  left:50px;
  top: 330px;
  color:white;
  font-size: 13px;

}

.read-more > a {
  color:white;
}

/* last section--------------------------------- */




 


  /* footer--------------------------------------- */
  

  footer {

    justify-content: center;
    align-items: center;
    
  }

  
  .manu  li {
    display: inline;
    
  }

  .manu li a, .manu li  {
    
    color: #fff;
  }

  .manu li a img {
    padding-bottom: -15px;
  }

  

.manu li span a {
  color:red;
}



/* general--------------------------- */

nav a, header a {
  text-decoration: none;
  color: white;
}

li:hover {
  
  text-decoration: underline;
  /* background-color: yellow;   */
  
}

li a:hover, div a:hover {
  color: blue;
  background-color: lightslategrey;
}
  
