


  
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  body {
    direction: rtl;
    align-items: right;
    font-family: Arial;
    scroll-padding-bottom: 38px;
    margin: 0;
        
  }

   /* layout -----------------------------------*/

   .row-1 {
    display: flex;
    flex-wrap: wrap;
    /* border: solid crimson; */
    
    height: 103px;
    
  }
  
  
  .row-2 {
    display: flex;
    flex-wrap: wrap;
    /* border: solid crimson; */    
    height: 355px;
    margin-top: 18px;
    
  }

  .row-3 {
    display: flex;
    flex-wrap: wrap;
    height: 216px;
    /* border: solid tomato; */
    margin-top: 375px;
  
  }

  .row-4 {

    display: flex;
    position: fixed;  
    width: 100%;
    /* border: solid crimson; */
    right: 0;
    bottom: 0;
    height: 38px;
    background-color:#919191;
    z-index: 9999;
        
  }
  

  
  .col-1 {
  
    position: absolute;
    width: 293px;    
    display: block;    
    /* border: solid; */
    
  }

  .col-2 {
  
    position: absolute;
    width: 293px;
    margin-right: 300px;
    display: block;    
    /* border: solid; */
    
  }

  .col-3 {
  
    position: absolute;
    width: 293px;
    margin-right: 600px;;
    display: block;    
    /* border: solid; */
    
  }

 /* end------------------------------------------ */

  form {
    display: block;
    margin-top: -20px;
    /* border: solid red; */
  }

  #banner {
    min-height: 82px;
    width: 100%;
    padding: 0;
    margin: 0;
    border: none;
    background-color: #909090; #969696

  }

  .content {

    position: relative;
    width: 900px;
    margin: 0 auto;
    padding-bottom: 30px;
    /* border: solid green; */

  }

  .abs {
    position: absolute;
    width: 100%;
    /* border: solid yellow; */
  }

     
  #header {
    
    position: relative;
    display: block;
    width: 100%;
    height: 105px;
    z-index: 100;
     
  }




  /* end---------------------------------------- */
  
  #paz-logo {
    /* display: block; */
    width: 142px;
    height: 93px;
    position: absolute;
    bottom: 0px;
    right: -8px;
  }

  
  #search-icon {
    
    float:left;
    width: 19px;
    height: 19px;
    
  }
 
 
  #text-box {
    float:left;
    width: 132px;
    height: 19px;
    border-top-right-radius: 15px;
    border: none;
    
  }  

  #lang {

    float: left;
    font-size: 12px;
    font-weight: bold;
    color: white;
    padding-left: 15px;
    padding-top: 5px;
  }

  #nav-bar {
    position: absolute;
    bottom:0px;
    height: 53px;
    /* border: solid;  */
    margin-right: 143px;;   
  }

  
  #lang::after {
    content: "";
    clear: both;
    display: table;
  }


  /* nav bar------------------------------------ */

  ul {
    text-decoration: none;
  }

  #nav-bar li {
    display: inline-block;
    font-size: 15px;

  }

 
  /* set image size */
  nav > ul li > img {
    width: 4px;
    height: 21px;
    margin-top: 0;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 0;
    
  }

  
  .dropdown {
   
    position: relative;
    list-style: none;
    padding-right 0;
    /* border: solid; */
        
  }

 /* img#d {

    filter: opacity(10%);
    filter:blur(5px);
    transform: rotate(270deg);
    
  
  } */

 
/* fixing the dropdown position */
  .container {
    position: relative;
     
  }

  .top {
    top: -7px;   
    
  }
/* -------------------------------- */


  .dropdown-content {
    display: none;
    position: absolute;
    width: auto;
    margin-top: 0;
    padding-top: 20px;
    /* background-color: grey;  */
    padding-left:5px;
    padding-right: 5px; 
         
  }

  

  
  .dropdown-content  > a  {
   color: white;
   border-bottom: 0.02px solid white ;
   font-weight: bold;
   background-color: grey;
   display: block;
   width: 120px;
   padding: 5px;
   zoom: 1;
   text-decoration: none;
   
  }

  .dropdown-content a:hover {
    color: blue;
    background-color: lightslategrey;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }




 
/* main row-2 section ---------------------------------- */
 
  #main {
    padding-top: 90px;
  }

  

 .mid-pic {

  width: 100%;  
  display: block;
  border-bottom-right-radius: 15px;


  }

  .mid-text {
    position: absolute;
    bottom:5px;
    right: 5px;    
    
  }

    
img.mid-pic {
  width: 100%;
  display: block;
}

.frame {
  
  
  position: relative;
  height: 293px;
  /* margin: auto; */
  /* border: solid blue; */
}

.frame > div {
  position: absolute;
 
}

.text-frame {
  top:250px;
  right: 5px;
}

.text {
  top:255px;
  right:10px;
  color:white;
  font-size: 13px;
  margin-top: 4px;
  margin-left:40px;
  padding-left: 10px;
}

.read-more {
  left:50px;
  top: 330px;
  color:white;
  font-size: 13px;

}

.read-more > a {
  color:white;
}

/* row-3 section--------------------------------- */

.cube {

  position: relative;
  height: 216px;
  width: 292px;
  
}


.text-header {
  
  position: absolute;
  top:5px;
  right: 5px;
  height: 34px;
  line-height: 34px;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 15px;
  padding-right: 5px;;
}

.image {
  position: absolute;
  top:65px;
  left:24px; 
}


.image-map {
  position: absolute;
  height: auto;
  top:55px;
  left:24px; 
}

/* resize pictue */
#map-img {
  width: 90%;
  height: auto;

}

.details {
  position: absolute;
  top:184px;
  left:24px;
}

.details a, .list a {
  color: black;
}

.list {
  position: absolute;
  top:65px;
  right:24px;
}
 


  /* footer--------------------------------------- */
  

  footer {

    /* justify-content: center; */    
    /* align-items: center; */ 
   
    padding-top: 10px;
    
  }

  .manu {
   
    position: absolute;
    /* right: 440.5px; for explorer */ 
    right: 340px;    
                    
  }

  

  
  .manu  li {
    display: inline;
        
  }

  .manu li a, .manu li  {
    
    color: #fff;
  }

  .manu li a img {
    padding-bottom: -15px;
  }

  

.manu li span a {
  color:red;
}


/* fixing the facebook position */
#fb {
  top:3px;   
}

footer a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
}


/* general--------------------------- */

nav a, header a {
  text-decoration: none;
  color: white;
}

li:hover {
  
  text-decoration: underline;
  /* background-color: yellow;   */
  
}

li a:hover, div a:hover {
  color: blue;
  
}
  
