


  
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  body {
    direction: rtl;
    align-items: right;
    font-family: Arial;
    scroll-padding-bottom: 38px;
    margin: 0;
        
  }

   /* layout -----------------------------------*/

   .row-1 {

    position: absolute;
    display: flex;
    flex-wrap: wrap;
    /* border: solid crimson; */
    
    height: 103px;
    
  }
  
  
  .row-2 {

    position: absolute;
    display: flex;
    flex-wrap: wrap;
    /* border: solid crimson;     */
    height: 355px;
    margin-top: 18px;

    width: 100%;
    
  }

  .row-3 {
    
    display: flex;
    flex-wrap: wrap;
    height: 216px;
    /* border: solid tomato; */
    margin-top: 375px;
  
  }

  .row-4 {

    display: flex;
    position: fixed;  
    width: 100%;
    /* border: solid crimson; */
    right: 0;
    bottom: 0;
    height: 38px;
    background-color:#919191;
    z-index: 9999;
        
  }
  

  
  .col-1 {
  
    position: absolute;
    width: 293px;    
    display: block;    
    /* border: solid; */
    
  }

  .col-2 {
  
    position: absolute;
    width: 293px;
    margin-right: 300px;
    display: block;    
    /* border: solid; */
    
  }

  .col-3 {
  
    position: absolute;
    width: 293px;
    margin-right: 600px;;
    display: block;    
    /* border: solid; */
    
  }

 /* end------------------------------------------ */

  form {
    display: block;
    margin-top: -20px;
    height: 754px;
    /* border: solid red; */
  }

  
  img#banner-line {
    
    /* filter: opacity(10%);
    filter:blur(5px); */
    /* transform: rotate(90deg); */   
  
  }

  #banner {
    background-color: #909090; #969696

  }

  /* #banner {
    min-height: 65px;
    width: 100%;
    padding: 0;
    margin: 0;
    border: none;
    background-color: #909090; #969696

  } */


  .content {

    position: relative;
    width: 900px;
    margin: 0 auto;
    padding-bottom: 30px;
    /* border: solid green; */

  }

  .abs {
    position: absolute;
    width: 100%;
    /* border: solid yellow; */
  }

     
  #header {
    
    position: relative;
    display: block;
    width: 100%;
    height: 105px;
    z-index: 100;
     
  }




  /* end---------------------------------------- */
  
  #paz-logo {
    /* display: block; */
    width: 142px;
    height: 93px;
    position: absolute;
    bottom: 0px;
    right: -8px;
  }

  
  #search-icon {
    
    float:left;
    width: 19px;
    height: 19px;
    margin-left: 10px;
    
  }
 
 
  #text-box {
    float:left;
    width: 132px;
    height: 19px;
    border-top-right-radius: 15px;
    border: none;
    
  }  

  #lang {

    float: left;
    font-size: 12px;
    font-weight: bold;
    color: white;
    padding-left: 15px;
    padding-top: 5px;
  }

  #nav-bar {
    position: absolute;
    bottom:0px;
    height: 53px;
    /* border: solid;  */
    margin-right: 140px;;   
  }

  
  #lang::after {
    content: "";
    clear: both;
    display: table;
  }


  /* nav bar------------------------------------ */

  ul {
    text-decoration: none;
  }

  #nav-bar li {
    display: inline-block;
    font-size: 13px; 
    font-weight: bold;

  }

 
  /* set image size */
  nav > ul li > img {
    width: 4px;
    height: 21px;
    margin-top: 0;
    margin:0 16px;
    margin-bottom: 0;
    
  }
   
  .dropdown {
   
    position: relative;
    list-style: none;
    padding-right 0;
    /* border: solid; */
        
  }

  
/* fixing the dropdown position */
  .container {
    position: relative;
     
  }

  .top {
    top: -7px;   
    
  }
/* ----------------------------- */


  .dropdown-content {
    display: none;
    position: absolute;
    width: auto;
    margin-top: 0;
    margin-right: -12px;;
    padding-top: 20px;
    /* background-color: grey;  */
    padding-left:5px;
    padding-right: 5px; 
         
  }

  

  
  .dropdown-content  > a  {
   color: white;
   /* border-bottom: 0.02px solid white ; */
   font-weight: bold;
   background-color: #909090;
   display: block;
   width: 140px;
   padding: 5px;
   zoom: 1;
   text-decoration: none;
   
  }

  div.dropdown-content a {

       border-bottom: 0.02px solid white ;    
  }

  div.dropdown-content a:last-child {
    border-bottom: none;
  }

  .dropdown-content a:hover {
    color: blue;
    background-color: #bcbcbc;
    /* background-image: url("menu_dropdown_bg,png"); */

  }

  .dropdown:hover .dropdown-content {
    display: block;
  }




 
/* main row-2 section ---------------------------------- */
 
  #main {
    padding-top: 90px;
  }

  .frame {
  
  
    position: relative;
    width: 293px;
    height: 355px;
    /* margin: auto; */
    /* border: solid blue; */
  }

 .mid-pic {

  width: 100%;  
  display: block;
  border-bottom-right-radius: 15px;
 }

  #home-img {
    margin:0;
  }

  }

  .mid-text {
    position: absolute;
    bottom:5px;
    right: 5px;    
    
  }

    
img.mid-pic {
  width: 100%;
  display: block;
}



.frame > div {
  position: absolute;
 
}

.text-frame {
  top:250px;
  right: 5px;
}

.text {
  top:255px;
  right:10px;
  color:white;
  font-size: 13px;
  margin-top: 4px;
  margin-left:40px;
  padding-left: 10px;
}

.read-more {
  left:50px;
  top: 330px;
  color:white;
  font-size: 13px;

}

.read-more > a {
  color:white;
}

#r {
  filter: brightness(0) invert(1);
}

/* row-3 section--------------------------------- */

.cube {

  position: relative;
  height: 216px;
  width: 292px;
  
}


.text-header {
  
  position: absolute;
  top:5px;
  right: 5px;
  height: 34px;
  line-height: 34px;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 15px;
  padding-right: 15px;;
}

.image {
  position: absolute;
  top:65px;
  left:24px; 
}


.image-map {
  position: absolute;
  height: auto;
  top:55px;
  left:24px; 
}

/* resize pictue */
#map-img {
  width: 90%;
  height: auto;

}

.details {
  position: absolute;
  top:184px;
  left:24px;
}

.details a, .list a {
  color: black;
}

.list {
  position: absolute;
  top:65px;
  right:24px;
}
 


  /* footer--------------------------------------- */
  

  footer {

    /* justify-content: center; */    
    /* align-items: center; */ 
   
    padding-top: 10px;
    
  }

  .manu ul {
   
    position: absolute;
    /* right: 440.5px; for explorer */ 
    /* right: 340px;     */
    padding-right:21.5%;
                    
  }

  

  
  .manu  li {
    display: inline;
        
  }

  .manu li a, .manu li  {
    
    color: #fff;
  }

  .manu li a img {
    padding-bottom: -15px;
  }

  

.manu li span a {
  color:red;
}


/* fixing the facebook position */
#fb {
  top:3px;   
}

footer a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
}


/* general--------------------------- */

nav a, header a {
  text-decoration: none;
  color: white;
}

li:hover {
  
  text-decoration: underline;
  /* background-color: yellow;   */
  
}

li a:hover, div a:hover {
  color: blue;
  
}


  /*contact----------------------------------------  */

  .contact-container {

    position: relative;
    display: inline;
    width: 900px;
    height: 426px;
    padding-top: 32px;
    margin: auto;

    /* border: 5px solid crimson; */

  }

  .right-nav {

    position: absolute;
    display: block;
    width: 110px;
    height: 36px;
    font-size: 13px;
    margin-bottom: 4px;
    color:#5c5c5c;
    line-height: 32px;
    padding-right: 12px;
    border-top: 1px solid;
    background-image: url("errow.png");

  }

  ul {
  list-style: none;

  }

  

  .contact-main {
    position: absolute;
    display: block;
    right:132px;
    width: 464px;
    height: 426px;
    /* border:solid; */

    
   
  }

  .selected {
    display: block;
    font-size: 15px;
    color: #5c5c5c;
    height: 37px;

  }

  .selected > a, .right-nav ul li > a {    
    color: #5c5c5c;
    text-decoration: none;
   
  }

  

  .title {
    position: absolute;
    display: block;
    width: 440px;
    height:32px;
    /* font-size: 15px; */
    font-size: 10px;
    font-weight: bold;
    border-bottom: 1px solid black;
    
    /* border-bottom: 1px solid #cbcbcb; */
    margin-bottom: 12px;
    padding-bottom: 4px;  
    

  }
  
  



  .main-cube {   

    position: absolute;
    display: block;
    top:50px;
    width: 385px;
    height: 358px; 
    /* padding: 18px 12px; */
    border: 1px;
    border-top-right-radius: 15px;
    
  }

  .rel {
    position: relative;
  }

  .ctext {
    position: absolute;
    display: block;
    font-size: 12px;
    padding-top: 12px;
    top:0;
    right: 18px;
  }

  
  .ctext .bfont {
   
    font-size: 13px;
    margin-top: 5px;
    margin-bottom: 5px;
    
  }

  .ctext .sfont {
   
    font-size: 12px;
    
  }

  .cform {
    position: absolute;
    display: block;
    bottom: 0; 
    
  }

  .cform button {
    font-size: 14px;
    background-color: blue;
    color:#fff;
  }

  

  
 .left-cube-1 {
   position: absolute;
   display: block;
   left:0;

   width: 292px;
   height: 20px;
  
   /* border: solid; */
 } 

 .left-cube-1 > img {
   width: 100%;
 }

 
 .left-cube-2 {
  position: absolute;
  display:block;
  left:0;
  bottom: 260px;
  width: 292px;
  height: 175px;
  /* padding-right: 22px;
  padding-left: 22px;;
  padding-top: 18px;
  padding-bottom: 15px; */
  
 } 

 .left-cube-title {
  position: absolute; 
  display: block;
  top:12px;
  
  right:25px;
  font-size: 15px;
  font-weight: bold;
  color: #005ca0;
  margin-bottom: 10px;
 }

 .left-cube-text {
  position: absolute; 
  display: block;
  font-size: 13px;
  top:42px;
  right:25px;
  
 }

.left-cube-3 {
  position: absolute;
  display: block;
  left:0;
  bottom: 0;
  bottom: 30px;
  width: 292px;
  height: 175px;
  /* padding-right: 22px;
  padding-left: 22px;;
  padding-top: 18px;
  padding-bottom: 15px; */
  /* border: solid; */
} 

.main-cube img, .left-cube-2 img, .left-cube-3 img {
  width: 100%;
}